$brand_color_main: #de8c2c;
$brand_outline_color: #D9D9D9;

$app_hover_color: #E0EEE0;
$app_separator_color: white;
$app_content_title_background_color:#F0F0F0;
$app_content_body_background_color:#D9D9D9;

$app_logo_background_color: #F5F5F5;
$app_slide_menu_background_color:rgba(0, 0, 0, 0.89);
$app_slide_menu_icon_color:#fff;


// App slide menu
$app_slide_menu_command_box_hover_color: #de8c2c; 
$app_slide_menu_command_box_icon_color: white; 

// App slide menu2
$app_navigation_slide_menu_background_color:whitesmoke;

// App SpinKit spinner
$app_spinner_color: #4D4D4D;





