
$app_top_panel_height: 40px;
$app_minimum_width: 500px;
$app_minimum_height: 350px;
$app_avatar_width_size: 39px;

//App header
$app_header_separator_height:25px;
$app_header_separator_pad:7.5px;

// App content
$app_content_height:40px;


// App navigation
$app_navigation_full_width: 260px;
$app_navigation_icon_width: 43px;
$app_navigation_home_menu_height: 70px;
$app_navigation_shortcut_menu_height: 30px;
$app_navigation_detail_width:190px;

// App slide menu
$app_slide_menu_width: 300px;  
$app_slide_menu_panel_height: 86px;
$app_slide_menu_icon_size: 1.8em;
$app_slide_menu_text_size:0.825em;

//App slide menu2
$app_slide_menu_width2: 190px; 

