
.header-panel1 {
        position: relative;
        height: 70px;
        background: white;
        color: black;
        background-repeat: no-repeat;
        background-size: 180px 45px;
        background-position: 10px 10px;
        padding: 21px 5px 0px 7px;
        padding-right: 0px !important;
        margin-top: 5px;
        border: 0px solid #BABABA;
    }