<div class="container header-panel"></div>
  
<div class="container base-panel">
    
  <div class="xceed365-brief opaque"></div>

  <div class="btn-holder">
    <button class="btn btn-outline" type="button" (click)="signIn()">Sign in</button>
  </div>
</div>

<div class="container footer-panel">
  <a href="http://xceed365.com">XCEED365 LIMITED</a> <a>Copyright 2017. All rights reserved</a> <a href="http://support.xceed365.com/">Get Support</a> <a href="http://xceed365.com/">Feedback</a> <a href="http://www.xceed365.com/security-policy">Security Policy</a> <a href="http://www.xceed365.com/tos">Terms of Service</a> <a href="http://www.xceed365.com/privacy-policy" class="privacy-policy-adjustments">Privacy Policy</a> <a href="https://www.microsoft.com/en-us/trustcenter/" class="mtc-adjustments">Microsoft Trust Center</a>
</div>